body{
    background-image: url(Medien/FallenAngel.JPG);
    background-size: 1400px 800px;
    
}
main{
    background-color: white;
    opacity: 70%;
    font-family: sans-serif;
    color: black;
}
.Edit1 { 
    opacity: 100%;
    size: 2000px 1000px 1000px;




}
